<!DOCTYPE html>
<html>

  <head></head>

  <body class="main">
    <h1>Atlas Reality</h1>
    <p>Where the web meets the world</p>
    <a href="http://atlasreality.xyz">Sign up now.</a>
    <div class="box"></div>
  </body>

</html>
