body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box {
  /* display: inline; */
  /* height: 100px; */
  border-style: solid;
  border-width: 2px;
  /* border-color: green; */
  /* background-color: blue; */
  /* padding-top: 20px; */
}

.box2 {
  padding-bottom: 20px;
  /* padding-left: 100px; */
  padding-top: 40px;
  padding-right: 40px;
  height: 80;
  border-style: solid;
  border-width: 2px;
  border-color: green;
  margin-bottom: 40px;
}


.box3 {
  border-bottom-width: 0px;
  padding-bottom: 20px;

  padding-top: 10px;
  border-top-width: 12px;

  border-left-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  border-color: blue;
  background-color: red;
  color: pink;
}

.box3 {
  border-bottom-width: 0px;
  padding-bottom: 20px;

  padding-top: 10px;
  border-top-width: 12px;

  border-left-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  border-color: blue;
  background-color: red;
  color: pink;
}
